/* Colors

Teal - #104B4F
Dark teal - #0F2F31
Light teal - #6CA2A6
Black - #110203
White - #FFF6F0
Grey - #B0AEAE
Pink - #6D194C
Purple - #340D42
Blue - #13213D
Green - #114938
*/

body {
   font-family: sans-serif, serif;
   font-size: 20px;
   text-align: center;
   background-color: #FFF6F0;
   margin: 0;
}

h1 {
   font-size: 58px;
}

h2 {
   font-size: 32px;
}

h3 {
   font-size: 24px;
}

h4 {
   font-size: 20px;
}


/* Header */

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 4px solid #104B4F;
   margin: 0;
   padding: 0;
}

.top-ws-logo {
   max-width: 200px;
   justify-content: flex-start;
}

.top-ws-logo img {
   max-width: 200px;
   padding: 2rem;
}

.nav-list {
   list-style: none;
   display: flex;
   align-items: center;
   text-align: center;
   gap: 3rem;
   padding: 2rem;
}

a {
   color: #104B4F;
}

button {
   font-size: 20px;
   color: #FFF6F0;
   background-color: #104B4F;
   padding: 10px 20px;
   padding: 10px 20px;
   border-radius: 5px;
 }
 
/* Index page */

.card {
   flex: 1;
   max-width: 30%;
}

.card img {
   max-width: 100%;
}

.card h2 {
   min-height: 75px;
   margin: 1rem 0 0 0;
}

.cards1 {
   background-color: #6D194C;
   color: #FFF6F0;
}

.cards1 h1 {
   padding-top: 3rem;
   margin: 0;
}

.cards2 {
   background-color: #104B4F;
   color: #FFF6F0;
}

.cards2 h1 {
   padding-top: 3rem;
   margin: 0;
}

.cards3 {
   background-color: #340D42;
   color: #FFF6F0;
}

.cards3 h1 {
   padding-top: 3rem;
   margin: 0;
}

.columns {
   display: flex;
   margin: 0 2rem 3rem;
   justify-content: center;
   justify-content: space-between;
   text-align: center;
   margin: 0 3% 0 3%;
}

.explore-together {
   margin: 1rem 5% 4rem 5%;
   padding: 0 0 1rem;
}

.information {
   margin: 1rem 25% 2rem 25%;
   padding: 0 0 1rem;
}

.info ul {
   list-style: none;
   padding: 0;
}

/* Exhibition Page */

.exhibit img {
   max-width:80%;
}

.exhibit h2 {
   margin: 0%;
}

.left {
   color: #FFF6F0;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 2rem;
}

.left-text {
   grid-column: 1;
   text-align: center;
   max-width: 90%;
   padding-left: 2rem;
   padding-right: 2rem;
   align-self: center;
   justify-self: center;
}

.left-pic {
   grid-column: 2;
   align-self: center;
   justify-self: center;
}

.cosmology {
   background: #340D42;
}

.bio-meds {
   background: #104B4F;
}

.ecology {
   background: #6D194C;
}

.right {
   color: #110203;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   padding: 2rem;
}

.right-text {
   grid-column: 2;
   max-width: 90%;
   padding-left: 2rem;
   padding-right: 2rem;
   grid-row: 1;
   align-self: center;
   justify-self: center;
}

.right-pic {
   grid-column: 1;
   grid-row: 1;
   align-self: center;
   justify-self: center;
}

.evolution .robo-ai  {
   background-color: #FFF6F0;
}

/* Privacy Policy */

.privacy-policy {
   background-color: #FFF6F0;
   color: #110203;
   margin: 2rem;
   text-align: left;
}

.privacy-policy h1 {
   font-size: 32px;
   margin: 0rem 4rem 0 4rem;
}

.privacy-policy h2 {
   font-size: 24px;
}

.privacy-policy h3 {
   font-size: 20px;
   text-decoration-line: underline;
}

.privacy-policy h2, h3, ul {
   margin: 1rem 4rem 1px 4rem;
}

.privacy-policy p {
   margin: 0rem 4rem 0 4rem;
   list-style: inside;
}

/* Terms and Conditions */

.terms-conditions {
   background-color: #FFF6F0;
   color: #110203;
   margin: 2rem;
   text-align: left;
}

.terms-conditions h1 {
   font-size: 32px;
   margin: 0rem 4rem 0 4rem;
}

.terms-conditions h2 {
   font-size: 24px;
}

.terms-conditions h3 {
   font-size: 20px;
   text-decoration-line: underline;
}

.terms-conditions h2, h3, ul {
   margin: 1rem 4rem 1px 4rem;
}

.terms-conditions p {
   margin: 0rem 4rem 0 4rem;
   list-style: inside;
}

/* Contact us */

.contact-us {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.wrapper {
   max-width: 80%;
   width: 100%;
   background: #FFF6F0;
   margin: auto;
   justify-content: center;
   text-align: center;
}

.wrapper h1 {
   text-align: center;
   font-size: 32px;
}

.opening-hours {
   justify-content: center;
   text-align: center;
   margin-bottom: 2rem;
}

.opening-hours h2 {
   font-size: 24px;
   justify-content: flex-start;
   text-decoration: underline;
   margin: 3px;
}

.opening-hours ul {
   list-style: none;
   justify-content: flex-start;
   padding: 0;
   margin: 0;
}

input, textarea {
   justify-content: center;
   width: 96%;
   font-size: 16px;
   padding: 8px 10px;
   margin-bottom: 1rem;
}

#date {
   width: 30%;
}

.form p {
   margin-bottom: 5px;
   padding: 0;
}

.btn {
   justify-content: flex-end;
   text-align: right;
   padding: 0;
}
.btn button {
   float: inline-end;
   text-align: center;
   width: 25%;
}

.contact-info {
   justify-content: flex-start;
   text-align: left;
}

.contact-info ul {
   display: inline-block;
   list-style: none;
   padding: 1%;
   margin: 1%;
}

/* Footer */

footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-height:160px;
   border-top: 4px solid #104B4F;
}

.bottom-ws-logo {
   max-width: 150px;
   justify-content: flex-start;
}
.bottom-ws-logo img {
   max-width: 100%;
   margin-left: 2rem;
}

@media (max-width: 800px) {
   
   /* Header and Footer */

   .top-ws-logo img {
      max-width: 100%;
      padding: 0;
   }

   .bottom-ws-logo img {
      max-width: 100%;
      margin: 0;
   }
   /* Index Page */
   
   .columns {
      flex-direction: column;
      gap: 1rem;
   }
   
   .card {
      max-width: 100%;
   }

   /* Exhibition Page */

   .left, .right {
      display: flex;
      flex-direction: column;   }
}

@media (max-width: 650px) {

   /* Header and Footer */

   .nav-list {
      flex-direction: column;
      gap: 15px;
      width: 100%;
      margin: 0;
      padding: 0;
   }
   .nav-list a {
      margin: 25px;
   }

   /* Privacy Policy Page */


}