/* Colors

Teal - #104B4F
Dark teal - #0F2F31
Light teal - #6CA2A6
Black - #110203
White - #FFF6F0
Grey - #B0AEAE
Pink - #6D194C
Purple - #340D42
Blue - #13213D
Green - #114938
*/

body {
    font-family: sans-serif, serif;
    font-size: 20px;
    text-align: center;
    background-color: #FFF6F0;
}

h1 {
    font-size: 58px;
    justify-content: center;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}


/* Header and footer */

 header {
    background-color: #FFF6F0;
    display: flex;
    display: grid;
    grid-template-columns: 2% 1fr 1fr 1fr 1fr 1fr 1fr 2%;
    grid-template-rows: 30% 70%;
 }

 header img {
    max-width: 100%;
    height: auto;
    grid-column: 2;
    align-items: center;
 }

 header nav {
   grid-column: 6/8;
   grid-row: 2;
 }

 header nav a {
    color: #104B4F;
 }
 
 button {
    color: #FFF6F0;
    background-color: #104B4F;
    padding: 10px 20px;
    border-radius: 5px;
 }

 /* Special Events and Exhibitions */

 .special-events {
    background-color: #6D194C;
    color: #FFF6F0;
    display: flex;
    display: grid;
    grid-template-columns: 2% 1fr 1fr 1fr 2%;
    grid-template-rows: 1/2fr 1fr 1fr 1fr;
 }

 .special-events h1 {
   grid-row: 1;
   grid-column:2/5
 }

 .special-events1 {
    grid-column: 2;
    grid-row: 2;
    padding: 7px;
 }
 .special-events1 img {
    max-width: 100%;
    max-height: fit-content;
 }

 .special-events2 {
    grid-column: 3;
    grid-row: 2;
    padding: 7px;
 }
 .special-events2 img {
    max-width: 100%;
    max-height: fit-content;
 }

 .special-events3 {
    grid-column: 4;
    grid-row: 2;
    padding: 7px;
 }
 .special-events3 img {
    max-width: 100%;
    max-height: fit-content;
 } 
 
 /* Explore */

 .explore {
   background-color: #104B4F;
   color: #FFF6F0;
   display: flex;
   display: grid;
   grid-template-columns: 2% 1fr 1fr 1fr 2%;
   grid-template-rows: 1/2fr 1fr 1fr 1fr;
}

.explore h1 {
  grid-row: 1;
  grid-column:2/5
}

.explore1 {
   grid-column: 2;
   grid-row: 2;
   padding: 7px;
}
.explore1 img {
   max-width: 100%;
   max-height: fit-content;
}

.explore2 {
   grid-column: 3;
   grid-row: 2;
   padding: 7px;
}
.explore2 img {
   max-width: 100%;
   max-height: fit-content;
}

.explore3 {
   grid-column: 4;
   grid-row: 2;
   padding: 7px;
}
.explore3 img {
   max-width: 100%;
   max-height: fit-content;
} 

/* get involved */

 .get-involved {
   background-color: #340D42;
   color: #FFF6F0;
   display: flex;
   display: grid;
   grid-template-columns: 2% 1fr 1fr 1fr 2%;
   grid-template-rows: 1/2fr 1fr 1fr 1fr;
}

.get-involved h1 {
  grid-row: 1;
  grid-column:2/5
}

.get-involved1 {
   grid-column: 2;
   grid-row: 2;
   padding: 7px;
}
.get-involved1 img {
   max-width: 100%;
   max-height: fit-content;
}

.get-involved2 {
   grid-column: 3;
   grid-row: 2;
   padding: 7px;
}
.get-involved2 img {
   max-width: 100%;
   max-height: fit-content;
}

.get-involved3 {
   grid-column: 4;
   grid-row: 2;
   padding: 7px;
}
.get-involved3 img {
   max-width: 100%;
   max-height: fit-content;
}

footer{
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
}
 footer img {
   max-width: 50%;
   height: auto;
}